.my-swiper-main{
width: 100%;
height: 100%;
position: relative;
z-index: 1;
}
.my-swiper-main .my-silde{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.my-swiper-main .my-silde img{
    width: 100%;
    height: 100%;
    border: none;
}
.my-swiper-main .pagination{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
}
.my-swiper-main .pagination .doc{
    width: 30px;
    height: 8px;
    background: red;
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
}
.my-swiper-main .pagination .active{
    background: blue;
}